
.projects-container {
  padding-top: 128px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.projects-grid {
  display:grid;
  gap: 40px;
}

.projects-grid-xl {
  gap: 40px;
}

.projects-grid-md-2 {
  grid-template-columns: repeat(2, 400px);
}
.projects-grid-lg-3 {
  grid-template-columns: repeat(3, 400px);
}

.projects-center {
  place-items: center;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 400px; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 400px); 
  }
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 400px); 
  }
}
